.booking-steps{
    color: #000000;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 2rem;
    max-width: 1280px;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
}

.booking-steps h1{
    font-size: 3rem;
    align-self: center;
    font-weight: 700;
}

.booking-steps h3{
    font-size: 3rem;
    margin: 0;
}

.booking-steps p{
    font-size: 1rem;
    margin: 1 rem 0;
    text-align: justify;
}


.booking-steps a{
    display: flex;
    text-decoration: none;
    background-color: #ffffff;  
    color: #000000;
    padding: 2px 2px 2px 8px;
    border-radius: 30px;
    border: solid;
    border-width: 1px;
    border-color: #ccc;
    align-items: center;
    width: fit-content;
    margin: 1rem 0rem;
    border-radius: 1rem;
}

.icon {
    color: white;
    background-color: #000;
    padding: 8px;
    border-radius: 24px;
    font-size: 24px;
    margin-left: 8px;
}


.instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-color:  rgb(190, 190, 190);
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.25rem;
}

.steps{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    
}


.step{
    padding: 3rem;
    border: solid rgb(190, 190, 190);
    border-width: 1px 1px 1px 1px;    
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.25rem;
}

.step h3{
    font-size: 3rem;
    margin: 0;
}

.step h4{
    font-size: 2rem;
    margin: 0;
}
.step p{
    font-size: 1rem;
    margin: 0;
    text-align: justify;
}

.table{
    display: flex;
}


@media only screen and (max-width: 1024px){
    .table{
        display: block;
    }

    .steps{
        grid-template-columns: auto auto;
    }

    .booking-steps h1{
        font-size: 4rem;
    }
}

@media only screen and (max-width: 700px){
    .table{
        display: block;
    }

    .steps{
        grid-template-columns: auto;
    }

    .booking-steps h1{
        font-size: 4rem;
    }
}