.header{
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  height: 40px;
}

.navigation {
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent background for nav */
  border-radius: 50px;
  padding: 10px 10px;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 99px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.navigation a:hover, 
.navigation a:focus {
  background-color: white; /* Highlight background on hover */
  color: #333; /* Dark text for contrast */
}

.navigation a.active {
  background-color: white;
  color: #333;
}