.header{
  width: calc(100% - 16px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin: 8px;
  height: 64px;
}

.logo img{
  height: 64px;
}


/* navigation menu design */
.navigation {
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent background for nav */
  border-radius: 50px;
  padding: 8px;
  backdrop-filter: blur( 16px );
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 99px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.navigation a:hover, 
.navigation a:focus {
  background-color: white; /* Highlight background on hover */
  color: #333; /* Dark text for contrast */
}

.navigation a.active {
  background-color: white;
  color: #333;
}

/* Book now button */
.cta {
  height: 60px;
}

.book-now {
  background-color: rgba(255, 255, 255, 0.1); /* Match button background with navigation */
  backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
  color: white;
  height: 100%;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.book-now:hover {
  background-color: white; /* Hover effect */
  color: #333;
}
