.App {
  font-family: Poppins, 'Arial', sans-serif;
  font-weight: normal;
  color: #333;
  width: 100%;
}

body {
  width: 1440px;
}

.hero-section {
  background-image: url('/path-to-your-hero-image.jpg');
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
  color: white;
}

.tour-activities .activity-cards {
  display: flex;
  justify-content: space-around;
}

.package-cards {
  display: flex;
  justify-content: space-around;
}
