.carousel-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .carousel {
    display: flex;
    gap: 20px;
    padding: 10px;
    width: fit-content;
    scroll-behavior: smooth;
  }
  
  .package-container {
    flex: 0 0 calc(33.33% - 20px); /* Show 3 packages at a time */
    min-width: 300px; /* Adjust according to design */
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #142542;
    text-align: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;;
  }
  
  @media (max-width: 1024px) {
    .package-container {
      flex: 0 0 calc(50% - 20px); /* Show 2 packages at a time on smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .package-container {
      flex: 0 0 calc(100% - 20px); /* Show 1 package at a time on mobile */
    }
  }
  