.App {
  font-family: 'Arial', sans-serif;
  color: #333;
}

body {
  width: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f8f8;
}

.hero-section {
  background-image: url('/path-to-your-hero-image.jpg');
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
  color: white;
}

.tour-activities .activity-cards {
  display: flex;
  justify-content: space-around;
}

.package-cards {
  display: flex;
  justify-content: space-around;
}
